*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-background);
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* scroll-margin-top */
#about,
#how-to-play,
#gallery,
#reviews,
#contact {
  scroll-margin-top: 40px;
}

@media only screen and (min-width: 1440px) {
  #about,
  #how-to-play,
  #gallery,
  #reviews,
  #contact {
    scroll-margin-top: 60px;
  }
}