<section class="gallery section" id="gallery">
  <div class="swiper" id="swiper">
    <h2 class="gallery-title">Gallery</h2>

    <div class="swiper-wrapper gallery-list">
      <div class="swiper-slide gallery-item">
        <img src="./img/gallery-image1.png" srcset="./img/gallery-image1.png 1x, ./img/gallery-image1@2x.png 2x"
          alt="Chefs preparing meals with animated food effects" height="343" loading="lazy" />
      </div>

      <div class="swiper-slide gallery-item">
        <img src="./img/gallery-image2.png" srcset="./img/gallery-image2.png 1x, ./img/gallery-image2@2x.png 2x"
          alt="Busy restaurant kitchens with glowing cooking stations" loading="lazy" />
      </div>

      <div class="swiper-slide gallery-item">
        <img src="./img/gallery-image3.png" srcset="./img/gallery-image3.png 1x, ./img/gallery-image3@2x.png 2x"
          alt="Chefs preparing meals with animated food effects" loading="lazy" />
      </div>

      <div class="swiper-slide gallery-item">
        <img src="./img/gallery-image4.png" srcset="./img/gallery-image4.png 1x, ./img/gallery-image4@2x.png 2x"
          alt="Happy customers and fast-paced serving scenes" loading="lazy" />
      </div>

      <div class="swiper-slide gallery-item">
        <img src="./img/gallery-image5.png" srcset="./img/gallery-image5.png 1x, ./img/gallery-image5@2x.png 2x"
          alt="Chefs preparing meals with animated food effects" loading="lazy" />
      </div>
    </div>
    <!-- <ul class="gallery-list swiper-wrapper" data-gallery-swiper>

      
    </ul> -->
  </div>
</section>