<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="site-logo" href="./index.html" aria-label="Cooking Tour home">
        <img class="site-logo-icon" src="./img/header/LogoGame.png" srcset="./img/header/LogoGame.png 1x, ./img/header/LogoGame-2x.png 2x" alt="Logo Game">
      </a>

      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">About the Game</a></li>
        <li class="nav-item"><a class="nav-link" href="#how-to-play">How to Play</a></li>
        <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="#reviews">Reviews</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>

      <div class="nav-cta">
        <a class="btn btn-play"
        href="https://play.google.com/store/apps/details?id=com.food.cooking.games.restaurant" target="_blank" rel="noopener noreferrer">
          <svg class="google-play-button-icon" aria-hidden="true">
            <use href="./img/icons/sprite.svg#GooglePlay"></use>
          </svg>
          Play on Google Play
        </a>
      </div>

      <button
        type="button"
        class="burger-btn"
        data-menu-open
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="Open menu"
      >
        <svg class="burger-button-icon" aria-hidden="true">
          <use href="./img/icons/sprite.svg#menu-burger"></use>
        </svg>
      </button>
    </nav>

    <div
      class="burger-menu"
      id="mobile-menu"
      data-mobile-menu
      data-menu-state="closed"
      hidden
    >
      <div class="burger-menu-top">
        <a class="site-logo" href="./index.html" aria-label="Cooking Tour home">
          <img class="site-logo-icon" src="./img/header/LogoGame.png" srcset="./img/header/LogoGame.png 1x, ./img/header/LogoGame-2x.png 2x" alt="Logo Game">
        </a>
        <button
          type="button"
          class="btn-close"
          data-menu-close
          aria-label="Close menu"
        >
          <svg class="mobile-menu-close-icon" aria-hidden="true">
            <use href="./img/icons/sprite.svg#close-icon"></use>
          </svg>
        </button>
      </div>

      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about" data-menu-link>About the Game</a></li>
        <li class="nav-item"><a class="nav-link" href="#how-to-play" data-menu-link>How to Play</a></li>
        <li class="nav-item"><a class="nav-link" href="#gallery" data-menu-link>Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="#reviews" data-menu-link>Reviews</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact" data-menu-link>Contact</a></li>
      </ul>

      <a class="btn" href="https://play.google.com/store/apps/details?id=com.food.cooking.games.restaurant" target="_blank" rel="noopener noreferrer">
        <svg class="google-play-button-icon" aria-hidden="true">
          <use href="./img/icons/sprite.svg#GooglePlay"></use>
        </svg>
        Play on Google Play
      </a>
    </div>
  </div>
</header>
